# Corona Virus in the US

In [25]:
import pandas as pd
import numpy as np

### Aquire

In [79]:
df = pd.read_csv("https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv")

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17731 entries, 0 to 17730
Data columns (total 6 columns):
date      17731 non-null object
county    17731 non-null object
state     17731 non-null object
fips      17452 non-null float64
cases     17731 non-null int64
deaths    17731 non-null int64
dtypes: float64(1), int64(2), object(3)
memory usage: 831.3+ KB

In [81]:
df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

### Prep

In [82]:
df.isnull().sum()

date        0
county      0
state       0
fips      279
cases       0
deaths      0
dtype: int64

In [83]:
df [df.fips.isnull()]

             date         county           state  fips  cases  deaths
416    2020-03-01  New York City        New York   NaN      1       0
418    2020-03-01        Unknown    Rhode Island   NaN      2       0
448    2020-03-02  New York City        New York   NaN      1       0
450    2020-03-02        Unknown    Rhode Island   NaN      2       0
482    2020-03-03  New York City        New York   NaN      2       0
...           ...            ...             ...   ...    ...     ...
17266  2020-03-28        Unknown    Rhode Island   NaN    168       2
17393  2020-03-28        Unknown       Tennessee   NaN    161       4
17523  2020-03-28        Unknown            Utah   NaN     17       1
17537  2020-03-28        Unknown         Vermont   NaN     23       5
17541  2020-03-28        Unknown  Virgin Islands   NaN     19       0

[279 rows x 6 columns]

In [84]:
df [df.fips.isnull()].county.value_counts()

Unknown          243
New York City     28
Kansas City        8
Name: county, dtype: int64

### Explore

In [121]:
states = df.groupby(df.state).sum()[["cases","deaths"]]

In [122]:
states["death_rate"] = states.deaths / states.cases * 100

In [123]:
states.index.name= None

In [124]:
states.sort_values("death_rate")

                           cases  deaths  death_rate
Wyoming                      471       0    0.000000
West Virginia                436       0    0.000000
Virgin Islands               147       0    0.000000
Northern Mariana Islands       2       0    0.000000
Hawaii                       878       0    0.000000
Rhode Island                1432       2    0.139665
Maine                       1295       2    0.154440
North Carolina              4629      10    0.216029
Utah                        3145       8    0.254372
Montana                      664       2    0.301205
Nebraska                    1314       4    0.304414
Alabama                     3353      12    0.357888
Tennessee                   7132      26    0.364554
Alaska                       484       2    0.413223
New Mexico                  1155       5    0.432900
North Dakota                 456       2    0.438596
Minnesota                   2773      16    0.576992
Iowa                        1536       9    0.585938
New Hampshire               1293       8    0.618716
Arkansas                    2735      19    0.694698
Delaware                    1072       8    0.746269
Massachusetts              17120     143    0.835280
Maryland                    4510      40    0.886918
Pennsylvania               11266     108    0.958637
Illinois                   17845     186    1.042309
New York                  260977    2816    1.079022
Idaho                       1109      12    1.082056
District of Columbia        1986      22    1.107754
Mississippi                 3252      38    1.168512
Arizona                     3468      41    1.182238
Texas                      11063     132    1.193166
Wisconsin                   5638      73    1.294785
New Jersey                 43816     573    1.307741
Ohio                        6318      94    1.487813
Florida                    18211     273    1.499094
Colorado                   10672     176    1.649175
Nevada                      3851      64    1.661906
Missouri                    3252      56    1.722017
Virginia                    3787      67    1.769210
Michigan                   19588     374    1.909332
California                 33390     650    1.946691
South Carolina              3546      71    2.002256
Guam                         337       7    2.077151
Connecticut                 6914     144    2.082731
Kentucky                    1911      46    2.407117
Kansas                      1266      34    2.685624
Indiana                     4616     128    2.772964
Oklahoma                    1593      45    2.824859
Oregon                      2777      82    2.952827
Georgia                    12321     388    3.149095
Louisiana                  16122     559    3.467312
Puerto Rico                  455      16    3.516484
South Dakota                 414      19    4.589372
Vermont                     1158      55    4.749568
Washington                 30584    1722    5.630395