# Corona Virus in the US

In [149]:
# data wrangle
import pandas as pd
import numpy as np

import json

### Aquire - deaths by county

In [153]:
df = pd.read_csv("https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv")

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19713 entries, 0 to 19712
Data columns (total 6 columns):
date      19713 non-null object
county    19713 non-null object
state     19713 non-null object
fips      19407 non-null float64
cases     19713 non-null int64
deaths    19713 non-null int64
dtypes: float64(1), int64(2), object(3)
memory usage: 924.2+ KB

In [155]:
df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

### Prep

In [156]:
df.isnull().sum()

date        0
county      0
state       0
fips      306
cases       0
deaths      0
dtype: int64

In [157]:
df [df.fips.isnull()]

             date         county           state  fips  cases  deaths
416    2020-03-01  New York City        New York   NaN      1       0
418    2020-03-01        Unknown    Rhode Island   NaN      2       0
448    2020-03-02  New York City        New York   NaN      1       0
450    2020-03-02        Unknown    Rhode Island   NaN      2       0
482    2020-03-03  New York City        New York   NaN      2       0
...           ...            ...             ...   ...    ...     ...
19219  2020-03-29        Unknown    Rhode Island   NaN    106       3
19356  2020-03-29        Unknown       Tennessee   NaN    190       4
19495  2020-03-29        Unknown            Utah   NaN      1       1
19509  2020-03-29        Unknown         Vermont   NaN     23       5
19513  2020-03-29        Unknown  Virgin Islands   NaN     23       0

[306 rows x 6 columns]

In [158]:
df [df.fips.isnull()].county.value_counts()

Unknown          268
New York City     29
Kansas City        9
Name: county, dtype: int64

### Explore

In [159]:
states = df.groupby(df.state).sum()[["cases","deaths"]]

In [160]:
states["death_rate"] = states.deaths / states.cases * 100

In [162]:
states.index.name = None

In [163]:
states.sort_values("death_rate", ascending=False)

                           cases  deaths  death_rate
Washington                 35218    1931    5.482992
Vermont                     1409      67    4.755145
South Dakota                 504      20    3.968254
Louisiana                  19666     712    3.620462
Puerto Rico                  582      21    3.608247
Georgia                    15008     471    3.138326
Oklahoma                    2022      61    3.016815
Oregon                      3326      95    2.856284
Indiana                     6130     160    2.610114
Kansas                      1599      41    2.564103
Kentucky                    2354      55    2.336449
Guam                         395       8    2.025316
Michigan                   25061     506    2.019073
South Carolina              4321      87    2.013423
Connecticut                 8907     178    1.998428
California                 39713     782    1.969128
Colorado                   12987     222    1.709402
Virginia                    4677      78    1.667736
Nevada                      4771      79    1.655837
Missouri                    4157      68    1.635795
Ohio                        7983     124    1.553301
Florida                    23155     332    1.433816
Wisconsin                   6758      90    1.331755
Mississippi                 4011      52    1.296435
New Jersey                 57202     734    1.283172
Idaho                       1419      18    1.268499
Arizona                     4398      54    1.227831
Texas                      13995     168    1.200429
New York                  320545    3713    1.158340
Illinois                   22518     257    1.141309
District of Columbia        2328      26    1.116838
Delaware                    1304      14    1.073620
Pennsylvania               14707     148    1.006324
Maryland                    5754      51    0.886340
Massachusetts              22075     191    0.865232
Arkansas                    3240      28    0.864198
Minnesota                   3278      25    0.762660
New Hampshire               1551      11    0.709220
Iowa                        1872      13    0.694444
Alaska                       598       4    0.668896
North Dakota                 554       3    0.541516
New Mexico                  1392       7    0.502874
Nebraska                    1455       6    0.412371
Alabama                     4183      17    0.406407
Tennessee                   8702      33    0.379223
Montana                      825       3    0.363636
Maine                       1548       5    0.322997
Rhode Island                1763       5    0.283607
North Carolina              5798      16    0.275957
Utah                        3864      10    0.258799
West Virginia                559       1    0.178891
Northern Mariana Islands       4       0    0.000000
Virgin Islands               170       0    0.000000
Hawaii                      1051       0    0.000000
Wyoming                      559       0    0.000000

#### Add population data

State population data obtained from https://worldpopulationreview.com/states/

In [166]:
with open('data.json') as f:
    pop = json.load(f)

In [180]:
pop.keys()

dict_keys(['data'])

In [174]:
pd.DataFrame(pop['data'])

,rank,State,Pop,Growth,Pop2018,Pop2010,growthSince2010,Percent,density
0,1,California,39937489,0.0096,39557045,37320903,0.0701,0.1194,256.3727
1,2,Texas,29472295,0.0268,28701845,25242679,0.1676,0.0881,112.8204
2,3,Florida,21992985,0.0326,21299325,18845785,0.1670,0.0658,410.1256
3,4,New York,19440469,-0.0052,19542209,19400080,0.0021,0.0581,412.5211
4,5,Pennsylvania,12820878,0.0011,12807060,12711158,0.0086,0.0383,286.5449
5,6,Illinois,12659682,-0.0064,12741080,12840762,-0.0141,0.0379,228.0243
6,7,Ohio,11747694,0.0050,11689442,11539327,0.0181,0.0351,287.5038
7,8,Georgia,10736059,0.0206,10519475,9711810,0.1055,0.0321,186.6719
8,9,North Carolina,10611862,0.0220,10383620,9574293,0.1084,0.0317,218.2702
9,10,Michigan,10045029,0.0049,9995915,9877535,0.0170,0.0300,177.6655
10,11,New Jersey,8936574,0.0031,8908520,8799624,0.0156,0.0267,1215.1991
11,12,Virginia,8626207,0.0127,8517685,8023680,0.0751,0.0258,218.4403
12,13,Washington,7797095,0.0347,7535591,6742902,0.1563,0.0233,117.3272
13,14,Arizona,7378494,0.0288,7171646,6407774,0.1515,0.0221,64.9550
14,15,Massachusetts,6976597,0.0108,6902149,6566431,0.0625,0.0209,894.4355
15,16,Tennessee,6897576,0.0188,6770010,6355301,0.0853,0.0206,167.2748
16,17,Indiana,6745354,0.0080,6691878,6490436,0.0393,0.0202,188.2810
17,18,Missouri,6169270,0.0070,6126452,5995976,0.0289,0.0185,89.7453
18,19,Maryland,6083116,0.0067,6042718,5788642,0.0509,0.0182,626.6731
19,20,Wisconsin,5851754,0.0066,5813568,5690479,0.0283,0.0175,108.0497
20,21,Colorado,5845526,0.0263,5695564,5048281,0.1579,0.0175,56.4011
21,22,Minnesota,5700671,0.0159,5611179,5310843,0.0734,0.0170,71.5922
22,23,South Carolina,5210095,0.0248,5084127,4635656,0.1239,0.0156,173.3174
23,24,Alabama,4908621,0.0042,4887871,4785448,0.0257,0.0147,96.9221
24,25,Louisiana,4645184,-0.0032,4659978,4544532,0.0221,0.0139,107.5175
25,26,Kentucky,4499692,0.0070,4468402,4348200,0.0348,0.0135,113.9566
26,27,Oregon,4301089,0.0263,4190713,3837532,0.1208,0.0129,44.8086
27,28,Oklahoma,3954821,0.0030,3943079,3759632,0.0519,0.0118,57.6547
28,29,Connecticut,3563077,-0.0027,3572665,3579125,-0.0045,0.0107,735.8689
29,30,Utah,3282115,0.0383,3161105,2775334,0.1826,0.0098,39.9430
30,31,Iowa,3179849,0.0075,3156145,3050767,0.0423,0.0095,56.9284
31,32,Nevada,3139658,0.0347,3034392,2702464,0.1618,0.0094,28.5993
32,33,Arkansas,3038999,0.0084,3013825,2921978,0.0400,0.0091,58.4030
33,34,Puerto Rico,3032165,-0.0510,3195153,3721525,-0.1852,0.0091,876.6016
34,35,Mississippi,2989260,0.0009,2986530,2970536,0.0063,0.0089,63.7056
35,36,Kansas,2910357,-0.0004,2911505,2858213,0.0182,0.0087,35.5968
36,37,New Mexico,2096640,0.0006,2095428,2064588,0.0155,0.0063,17.2850
37,38,Nebraska,1952570,0.0121,1929268,1829536,0.0672,0.0058,25.4161
38,39,Idaho,1826156,0.0410,1754208,1570773,0.1626,0.0055,22.0969
39,40,West Virginia,1778070,-0.0154,1805832,1854214,-0.0411,0.0053,73.9691
40,41,Hawaii,1412687,-0.0055,1420491,1363963,0.0357,0.0042,219.9419
41,42,New Hampshire,1371246,0.0109,1356458,1316777,0.0414,0.0041,153.1605
42,43,Maine,1345790,0.0055,1338404,1327632,0.0137,0.0040,43.6336
43,44,Montana,1086759,0.0230,1062305,990722,0.0969,0.0033,7.4668
44,45,Rhode Island,1056161,-0.0011,1057315,1053938,0.0021,0.0032,1021.4323
45,46,Delaware,982895,0.0163,967171,899595,0.0926,0.0029,504.3073
46,47,South Dakota,903027,0.0236,882235,816165,0.1064,0.0027,11.9116
47,48,North Dakota,761723,0.0022,760077,674710,0.1290,0.0023,11.0393
48,49,Alaska,734002,-0.0047,737438,713906,0.0281,0.0022,1.2863
49,50,District of Columbia,720687,0.0260,702455,605085,0.1911,0.0022,11814.5410
50,51,Vermont,628061,0.0028,626299,625880,0.0035,0.0019,68.1416
51,52,Wyoming,567025,-0.0185,577737,564483,0.0045,0.0017,5.8400